@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
.chatBg{
    background-image: url('chatBg.jpg');
    background-position: center;
    background-size: cover;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}

header{
    width: 100vw;
    height: 7vh;
    background: linear-gradient(45deg, black, #45536e);
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: space-around;
    color: bisque;

}

header h1{
    font-family: 'Luckiest Guy', cursive;
}
main{
    position: relative;
    top: 15vh;
    width: 50vw;
    left: 25vw;
    background-color: #020921f5;
    height: 82vh;
    box-shadow: 0 2px 5px black;
    border: 2px solid #f57f3b;
    border-radius: 10px;

}

#sendMessage{
    position: relative;
    width: 40vw;
    display: flex;
    left: 5vw;
    justify-content: space-between;
    margin: 1rem 0;
}

.sendBtn{
    padding: 10px;
    margin: 0 0.5rem;
    border-radius: 5px;
}

.sendBtn:hover{
    background-color: #45536e;
    border: 2px solid wheat;
}