header {
  width: 100vw;
  height: 8vh;
  background: linear-gradient(45deg, black, #45536e);
  z-index: 5;
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: bisque;
  align-items: center;
}

header h1 {
  font-family: "Luckiest Guy", cursive;
}

.NavLink {
  color: unset;
  text-decoration: none;
}

.activeLink {
  color: chocolate;
  scale: 1.1;
  font-weight: bold;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.nav__toggler {
  display: none;
}

.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 500px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 8vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: rgb(27 33 44);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }

}

.nav__active  {
  transform: translateX(0%);
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
