.participants{
    display: grid;
    text-align: center;
    color: aliceblue;
    width: 60vw;
    margin: 1rem auto;
    row-gap: 0.5rem;
}

.participantsRow{
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(45deg, black, #101a27);
    padding: 5px;
    border-radius: 4px;
}

.admin{
    color: green;
}

.optionsTab{
    height: 35vh;
    background: linear-gradient(45deg, #380b2b, #e21829e3);
    border-radius: 1rem;
    text-align: -webkit-center;
    color: aliceblue;
}

.btnsAlign{
    display: flex;
    position: relative;
    top: 10%;
    flex-direction: column;
    width: fit-content;
    row-gap: 2rem;
}

.btnsAlign button, li button, input+button{
    padding: 4px;
    border-radius: 8px;
    border: none;
    background: bisque;
    font-weight: 500;
}

.btnsAlign button:hover, li button:hover,input+button:hover{
    background-color: green;
}

.optionsTab h6{
    margin: 10px;
}

#exitGroup{
    background-color: #937171;
    padding: 5px;
    border-radius: 8px;
    font-weight: 600;
}

#exitGroup:hover{
    background-color: rgb(199, 28, 28);
}

#editGroup{
    background-color: #937171;
    padding: 5px;
    border-radius: 8px;
    font-weight: 600;
}

#editGroup:hover{
    background-color: green;
}

@media screen and (max-width:600px) {
    .participants{
        width: 80vw;
    }
}

/* @media screen and (max-width:300px) {
    .optionsTab{
        width: 90vw;
        left: 5vw;
    }
} */