
.personMsg{
    color: beige;
    max-width: 40vw;
    background-color: chocolate;
    display: block;
    border-radius: 7px;
    text-align: left;
    padding: 5px;
    min-width: 20vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 5rem;
    margin-left: 1rem;
}

.myMsg{
    color: beige;
    background-color: #73655b;
    display: block;
    border-radius: 7px;
    text-align: right;
    padding: 5px;
    min-width: 20vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 5rem;
}

.personName{
    font-size: small;
    margin: 0;
}

.personText{
    margin: 0;
}

.joinMsg{
    color: black;
    background-color: #e6e1dd;
    display: block;
    border-radius: 7px;
    text-align: center;
    padding: 2px;
    width: 35vw;
    margin: 2rem auto;
}

#oldMessage{
    width: -webkit-fill-available;
    background: linear-gradient(45deg, black, transparent);
    color: aliceblue;
    padding: 5px;
}

#latestMessage{
    position: sticky;
    left: 83vw;
    top: 83vh;
    z-index: 5;
    padding: 8px;
    border-radius: 50%;
    background-color: black;
    color: aliceblue;
}

.groupName{
    display: grid;
    grid-template-columns: 5vw auto;
    position: sticky;
    top: 9vh;
    width: 79.5vw;
    left: 10vw;
    z-index: 5;
    color: #45536e;
    border-radius: 3px;
}

.backBtn{
    background-color: beige;
    border-radius: 24%;
}

.backBtn:hover{
    background-color: rgba(245, 245, 220, 0.145);
    color: white;
}

#sendMessage{
    position: sticky;
    width: 75vw;
    display: flex;
    left: 11vw;
    justify-content: space-between;
    margin: 1rem;
    z-index: 10;
    bottom: 5px;
}

#formInput{
    background: black;
    color: azure;
    margin: 0 1rem;
}