
.personMsg{
    color: beige;
    background-color: chocolate;
    display: block;
    border-radius: 7px;
    text-align: left;
    padding: 5px;
    min-width: 20vw;
    margin-top: 1rem;
    margin-bottom: .5rem;
    margin-right: 10rem;
    margin-left: 1rem;
}

.myMsg{
    color: beige;
    background-color: #73655b;
    display: block;
    border-radius: 7px;
    text-align: right;
    padding: 5px;
    min-width: 20vw;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    margin-left: 10rem;
}

.personName{
    font-size: small;
    margin: 0;
}

.personText{
    margin: 0;
}

.joinMsg{
    color: black;
    background-color: #e6e1dd;
    display: block;
    border-radius: 7px;
    text-align: center;
    padding: 2px;
    width: fit-content;
    margin: 1rem auto;
}

#oldMessage{
    width: -webkit-fill-available;
    background: linear-gradient(45deg, black, transparent);
    color: aliceblue;
    padding: 5px;
}

#latestMessage{
    position: sticky;
    left: 83vw;
    top: 83vh;
    z-index: 5;
    padding: 8px;
    border-radius: 50%;
    background-color: black;
    color: aliceblue;
}

.groupName{
    display: grid;
    grid-template-columns: auto auto;
    position: sticky;
    top: 9vh;
    z-index: 5;
    color: #45536e;
    border-radius: inherit;
    background: linear-gradient(318deg, black, transparent);
    margin-bottom: 1rem;
}

.backBtn{
    background-color: beige;
    width: 5vw;
}

.backBtn:hover{
    background-color: rgba(245, 245, 220, 0.145);
    color: white;
}

#sendMessage{
    position: sticky;
    width: auto;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    z-index: 5;
    bottom: 1rem;
}

#formInput{
    background: black;
    color: azure;
    margin: 0 1rem;
}

.messagesBg{
    position: relative;
    top: 10vh;
    width: 80vw;
    left: 10vw;
    background-color: #020921f5;
    box-shadow: 0 2px 5px black;
    border: 2px solid #f57f3b;
    border-radius: 10px;
    margin-bottom: 5rem;
    min-height: 82vh;
}

.messageBlock{
    min-height: 69vh;
}

.personTime{
    color: antiquewhite;
    margin: 0 1rem;
    font-size: small;
    display: flex;
    justify-content: flex-start;
}

.myTime{
    color: antiquewhite;
    margin: 0 1rem;
    font-size: small;
    display: flex;
    justify-content: flex-end;
}


@media screen and (max-width:500px) {
    .backBtn{
        padding: 5px;
        width: 8vw;
    }
}

@media screen and (max-width:400px) {
    .backBtn{
        padding: 5px;
        width: 15vw;
    }
}